.footer {
    background-color: #121212;
    color: white;
    padding: 40px 20px;
    height: 400px;
    /* Sabit yükseklik */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;

}

.footer-section img {
    vertical-align: middle;
    margin-right: 8px;

}

.footer-section p {
    line-height: 3.5;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    margin: 45px 0;

}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 50px;
    font-family: 'Roboto Condensed';
    font-weight: 600;
    font-size: 2.2rem;
}


.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.footer-section ul li {
    margin-bottom: 18px;
    font-family: 'Roboto Condensed';
    font-weight: 400;

}



.footer-section a {
    color: #f0f0f0;
    text-decoration: none;
    gap: 2rem;
}

.footer-section a:hover {
    text-decoration: underline;
}

.instagram-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.instagram-grid img {
    width: 80%;
    border-radius: 6px;
}