.form-container {
    display: flex;
    justify-content: center;
    height: 250vh;
    background-color: white;



}

.pizza-description {
    font-weight: lighter;
    font-style: italic;
    font-size: 0.9rem;
}


.pizza-order-form {
    width: 300%;
    height: 1500px;
    max-width: 500px;
    padding: 40px;
    background-color: white;
    gap: 50px;

}

.pizza-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.pizza-price-rating {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;

}

.rating {
    margin-top: 0.8rem;
}




#hamur {
    width: 85px;
    padding: 5px 10px;
    font-size: 13px;
    height: 35px;
}

.size-dough-section {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

.size-dough-section legend {
    font-weight: bold;
    font-size: 1rem;
}

.size-section input {
    font-size: 15px;
    margin-right: 10px;
}

.size-section label {
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dough-section {
    margin-top: 0px;
    text-align: left;
    margin-right: 9px;
}

.dough-section select {
    margin-top: -25px;
    margin-right: 10px;
}

.ekstra-malzemeler {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ekstra-malzemeler label {
    display: flex;
    align-items: center;
    font-style: unset;
    font-size: 15px;
    gap: 10px;
}




.form-group h5 {
    margin-top: 48px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.adet-secimi {

    display: flex;
    align-items: center;
    overflow: hidden;
    width: 130px;
    margin-top: 80 px;


}

.adet-secimi-label {
    margin-top: 3rem;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.adet-secimi button {
    width: 40px;
    height: 40px;
    background-color: #FDC913;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.adet-secimi input[type="number"] {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0;

}



.card-siparis-ozeti {
    margin-left: 160px;
    margin-top: -6rem;
    background-color: #f9f9f9;
    width: 18rem;
    height: 17rem;
}

.card-siparis-ozeti button {
    background-color: #FDC913;
    color: black;
    font-family: 'Roboto Condensed';
    font-weight: 600;
    text-align: center;
    margin-top: 3rem;
    margin-left: -1rem;
    width: 287px;
    height: 45px;

}

.alici-isim {
    margin-top: 3rem;
    font-family: 'Roboto Condensed';
}

.card-siparis-ozeti-secimler,
.card-siparis-ozeti-toplam-fiyat {
    margin-top: 0rem;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    font-size: 1.2rem;
}

.error {
    color: red;
    font-style: italic;
}

.hizli-siparis {
    margin-top: 1.3rem;
    font-family: 'Roboto Condensed';
    font-weight: 400;

}

@media (max-width: 980px) {

    .pizza-order-form {
        padding: rem;
    }

    .pizza-price-rating {
        flex-direction: column;
        align-items: center;
    }

    .size-dough-section {
        gap: 25px;

    }

    .ekstra-malzemeler {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    }

    .adet-secimi {
        gap: 5px;
    }


    .card-siparis-ozeti {
        width: 100%;
        max-width: 300px;
        margin: 20px auto;
        padding: 10px;

    }

    .card-siparis-ozeti button {
        width: 80%;
        margin-left: 1.5rem;
        font-size: 14px;
        padding: 12px;
    }

    .adet-secimi {
        justify-content: center;
        text-align: center;
        margin-left: 5rem;
        margin-top: 5px;
        gap: 2px;
    }

    .adet-secimi-label {
        text-align: center;
        margin-top: 30px;
        margin-left: 8rem;
        font-size: 1.3rem;
    }

    .card-pizza-order button {
        border-radius: 10px;
        margin-top: 2rem;
        height: 3rem;
        width: 19rem;
        margin-left: -1.6rem;

    }
}